<div class="social">
    <a href="https://facebook.com" target="_blank">
        <img class="smedia" src="../images/facebook.webp" alt="fb icon">
    </a>
    <a href="https://twitter.com" target="_blank">
        <img class="smedia" src="../images/x.webp" alt="twitter icon">
    </a>
    <a href="https://instagram.com" target="_blank">
        <img class="smedia" src="../images/instagram.webp" alt="instagram icon">
    </a>
</div>
<div><br>Main office<br> ⚲ Cra. 58d #146-51, Bogotá, Colombia<br> ☏ +57 310 2163847<br></div>
<div id="currentYear"></div>

<script src="../js/getdates.js"></script>