<div class="social">
    <h3>Follow Us</h3>
    <div class="social-icons">
        <a href="https://facebook.com" target="_blank">
            <img class="smedia" src="{{basePath}}public/images/facebook.webp" alt="fb icon">
        </a>
        <a href="https://twitter.com" target="_blank">
            <img class="smedia" src="{{basePath}}public/images/x.webp" alt="twitter icon">
        </a>
        <a href="https://instagram.com" target="_blank">
            <img class="smedia" src="{{basePath}}public/images/instagram.webp" alt="instagram icon">
        </a>
    </div>
</div>

<div class="contact-info">
    <h3>Contact Information</h3>
    <p>Main Office<br>
        📍 Cra. 58d #146-51, Bogotá, Colombia<br>
        📞 +57 16013000</p>
    <br>
    <p>Cartagena Office<br>
        📍 Centro Histórico, Cartagena, Colombia<br>
        📞 +57 5 6642134</p>
</div>

<div class="copyright">
    <div id="currentYear"></div>
</div>